<div class="container-card" style="background-color: #6e8fe9;color: white; padding: 20px; border-radius: 10px; margin: 20px; text-align: center;width: 500px;height: auto;box-sizing: border-box;box-shadow: inset 4px whitesmoke;">

    <h1 style="font-size: 35px;border-bottom: 1.7px solid white;">Tu ticket ha sido asignado</h1>


    <h2>ID de Ticket: {{ id }}</h2>




    <h2>Tecnico asignado: {{ tech }}</h2>


    <a href="https://tester.asistentevirtualsas.com/tickets/ticket?id={{ id }}" style="background-color: rgb(255, 44, 44);padding: 10px;border-radius: 20px;color: white;text-decoration: none;font-weight: 800;letter-spacing: 1px;">
        Ver mi ticket
    </a>

</div>