<div class="container-card" style="background-color: #6e8fe9;color: white; padding: 20px; border-radius: 10px; margin: 20px; text-align: center;width: 500px;height: 500px;box-sizing: border-box;box-shadow: inset 4px whitesmoke; display: grid;place-items:center;gap: 50px;">

    <h1 style="font-size: 35px;border-bottom: 3px solid white;color: white;">
        Tienes una orden de {{order_type}}
    </h1>


    <h2 style="font-size: 25px;color: white;">
        Tienes una orden de {{order_type}} generada, esperando a tu firma
    </h2>


    <p style="font-size:22px;font-weight: 700;display: flex;justify-content: space-between;padding: 1px;margin: 0;color: white;text-align: center;">
        ID: {{order_id}}
    </p>
    <p style="font-size:22px;font-weight: 700;display: flex;justify-content: space-between;padding: 1px;margin: 0;color: white;text-align: center;">
        Fecha de emision: {{emission_date}}
    </p>
    <p style="font-size:22px;font-weight: 700;display: flex;justify-content: space-between;padding: 1px;margin: 0;color: white;text-align: center;">
        Fecha de Retorno: {{return_date}}
    </p>
    <p style="font-size:22px;font-weight: 700;display: flex;justify-content: space-between;padding: 1px;margin: 0;color: white;text-align: center;">
        D&iacute;as de validez de la orden: {{days}}
    </p>


    <a href="https://helpdesk.asistentevirtualsas.com/order/see?id={{id}}" style="background-color: rgb(255, 44, 44);padding: 20px;width: 300px;height: 30px;border-radius: 10px;color: white;text-decoration: none;font-size: 20px;font-weight: 800;letter-spacing: 1px;text-align: center;">
        Ir a Firmar
    </a>

</div>