
<body align="center" style="display: grid;place-items: center;font-family: Arial, sans-serif;">


      <h1  style="background-color:#80aec9 ;color:white;text-align: center;display: flex;align-items: center;width:100%;justify-content: center;padding: 20px;font-size: 40px;" >Orden de Salida {{ order_id }}</h1>

      <h2 style="text-align: left;border-bottom: 1px solid #e1e1e1;padding: 10px;display: flex;align-items: center;">Enviada por: {{ name }}</h2>
      <h3 style="text-align: left;border-bottom: 1px solid #e1e1e1;padding: 10px;display: flex;align-items: center;">Fecha de Salida: {{ emition }}</h3>
      <h3 style="text-align: left;border-bottom: 1px solid #e1e1e1;padding: 10px;display: flex;align-items: center;">Fecha de Retorno: {{ return }}</h3>
      
      <h3 style="text-align: left;padding: 10px;display: flex;align-items: center;">Descripcion: {{ description }}</h3>




</body>
