.gestor-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-items: center;
    


    fieldset{
        border: 2px solid $morado;
        border-radius: 2rem;
        legend{
            letter-spacing: 1px;
            color: darken($morado,20);
            padding: 1rem;
            font-weight: 700;

        }
        input:not([type="submit"]),select,textarea{
            padding: .5rem;
            border: none;
            outline: none;
            border-radius: 2rem;
            margin: 1rem;
        }
    }

    h1{
        grid-column: 1/3;
    }



}
.container-state-asign{
    margin: 1rem;
    fieldset{
        width: 100%;

    }
}
.comments{
    height: 25rem;
    overflow-y: scroll;
    border-radius: 3rem;

    scrollbar-color: rgba($morado, .5) rgba($morado, 0);
    scrollbar-width: thin;
    &:-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
    }
}


.comment{
    background-color: $blanco;
    padding: 1rem;
    border-radius:4rem 4rem 4rem 0;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    caption{
        font-weight: 700;
    }
}
.container-comments-history{

    grid-column: 1/3;
    padding: 1rem;
    margin: 1rem;
    width: 100%;


    .container-textchat{
        position: relative;
        input[type="text"]{
            width: 100%;
            max-width: 95%;
            height: 4rem;

        }

        button[type="submit"]{
            position: absolute;
            right: 5rem;
            border: none;
            border-radius: 2rem;
            background-color: $morado;
            color: $blanco;
            bottom:1rem;
            height: 4rem;
            width: 5.5rem;
            transition: .4s;

            &:hover{
                background-color: darken($morado,20);
                cursor: pointer;
            }
        }


    }

}


