.description-1,.description-2{
    
    margin: 4rem;

    text-align: justify;
}

.firma-orden{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 4rem;

    .container-input-sign{
        margin: 1rem;


        input[type="checkbox"]{
            width: 6rem;
            height: 2rem;
        }
        label{
            font-weight: 700;
            letter-spacing: 1px;
        }
    }



}