


.tabla-ordenes{
    height: fit-content;
}



.form-order{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 2rem;

}


.container-input-order{


    margin: 2rem;


    display: flex;
    flex-direction: column;
    align-items: center;

    label{
        text-align: center;
        font-weight: 700;
        font-size: 2rem;
        color: darken($morado,20);
    }

    select{
        border-radius: 2rem;
        text-align: center;
        font-size: 1.8rem;
        padding: .5rem;
        font-weight: 700;
        border: none;
        letter-spacing: 1px;
        max-width: 40rem;
    }

    input:not([type="submit"]){

        
        border-radius: 2rem;
        text-align: center;
        font-size: 1.8rem;
        padding: .5rem;
        border: none;
        letter-spacing: 1px;
        max-width: 40rem;

    }

}


textarea{
    height: 10rem;
    width: 40rem;
    resize: none;
    border-radius: 2rem;
    border: none;
    padding: 1rem;

}