.boton-morado-block{
    @include boton($morado,block);
}

.boton-morado-inline{
    @include boton($morado,inline-block);
    margin: 1rem;
}
.boton-morado-titles{
    @include boton($morado,inline-block);
    margin: 4rem
}
.boton-notificaciones{
    font-size: 3.1rem;
    position: absolute;
    right: 3%;
    top: 0%;

    button{
        
        @include boton(transparent,inline-block);

        position: relative;

        i{
            position: absolute
        }


        #bell{
            inset: 0
        }

        #quantity{
            top: -1rem;
            right: 0;
            transform: scale(.5);
            color: rgb(236, 83, 83)
        }
    }


}


.boton-close{
    @include boton(transparent,inline-block);
    color: $blanco;
    font-size: 4rem;
    position:absolute;
    top: 0;
    right: 0;
}

.boton-flecha-link{
    @include boton($morado,inline-block);
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.boton-azul-block{
    @include boton($azulFuerte,block);
    margin:1rem 1rem;
    
}
.boton-azul-inline{
    @include boton($azulFuerte,block);
    margin:1rem 1rem;
    
}

.boton-google-inline{
    @include boton($morado,inline);
    display: flex;
    justify-content: space-around;
    font-size: 2.2rem;
    color: $blanco;
    width: 100%;
    border-radius: 2rem;
    i{
        font-size: 3.8rem;
        letter-spacing: -1px;
    }


}

.boton-rojo-block{
    @include boton($rojo,block);
    margin:1rem 1rem;
    height: 4.5rem;
}
.boton-rojo-inline{
    @include boton($rojo,inline-block);
    margin:1rem 1rem;
    height: 4.5rem;
}