.container-grid-selector {
  width: 60vw;
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.servers{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem;
}

.server-info {
  &.red-label {
    background-color: rgb(255, 83, 83);

    color: white;

    p {
      color: white;
    }
  }
  &.green-label {
    background-color: rgb(83, 255, 106);

    color: black;

    p {
      color: black;
    }
  }
  &.yellow-label {
    background-color: rgb(252, 255, 83);

    color: black;

    p {
      color: black;
    }
  }

  width: 35rem;
  border-radius: 2rem;
  outline: none;

  p {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .update-btn{
   position: absolute;
   top: 0;
   right: 35px;
  }

  summary {
    list-style: none;
    outline: none;
    display: flex;
    gap: 0.2rem;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    
    text-align: center;
  }


  .icono {
    height: 2.5rem;
    width: 2.5rem;
    transition: 0.5s;
  }

  &[open] .icono {
    transform: rotate(270deg);
  }
  

     
  

  .data,
  .users {
   position: relative;
    display: grid;
    place-items: center;
    gap: 10px;
  }

  

  .usr-btn{

      background-color: transparent;
      outline: none;
      border: none;
      text-align: left;
      cursor: pointer;
      font-size: 2.4rem;
      transition: .5s;
      &:hover{
         background-color: rgba(72, 145, 255, 0.815);
         border-radius: 20px;
      }
      width: 80%;
      height: 5rem;
  }

  .data{
   p{
      font-size: 2rem;
   }
  }

}


.orders-brief{
  display: grid;
  place-items: center;
  overflow-y: scroll;
  gap: 10px;
  position: relative;
  .subtitle{
    font-family: Pangram;
    color: white;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 700;
    margin: 0;
    padding: 0;

    
  }


  .order{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    width: 50%;

  }




}
