@use "vars" as v;
@use "mixins" as m;
@use "sass:color";
:root[data-theme="light"] {
  --text-50: #e8eafc;
  --text-100: #d1d6fa;
  --text-200: #a3adf5;
  --text-300: #7584f0;
  --text-400: #475aeb;
  --text-500: #1931e6;
  --text-600: #1427b8;
  --text-700: #0f1e8a;
  --text-800: #0a145c;
  --text-900: #050a2e;
  --text-950: #030517;

  --background-50: #e8eafc;
  --background-100: #d1d6fa;
  --background-200: #a3adf5;
  --background-300: #7584f0;
  --background-400: #475aeb;
  --background-500: #1931e6;
  --background-600: #1427b8;
  --background-700: #0f1e8a;
  --background-800: #0a145c;
  --background-900: #050a2e;
  --background-950: #030517;

  --primary-50: #e9ecfc;
  --primary-100: #d2d9f9;
  --primary-200: #a6b4f2;
  --primary-300: #798eec;
  --primary-400: #4c69e6;
  --primary-500: #2043df;
  --primary-600: #1936b3;
  --primary-700: #132886;
  --primary-800: #0d1b59;
  --primary-900: #060d2d;
  --primary-950: #030716;

  --secondary-50: #e8f2fd;
  --secondary-100: #d0e5fb;
  --secondary-200: #a2cbf6;
  --secondary-300: #73b0f2;
  --secondary-400: #4496ee;
  --secondary-500: #167ce9;
  --secondary-600: #1163bb;
  --secondary-700: #0d4a8c;
  --secondary-800: #09325d;
  --secondary-900: #04192f;
  --secondary-950: #020c17;

  --accent-50: #e5f2ff;
  --accent-100: #cce5ff;
  --accent-200: #99ccff;
  --accent-300: #66b2ff;
  --accent-400: #3399ff;
  --accent-500: #007fff;
  --accent-600: #0066cc;
  --accent-700: #004c99;
  --accent-800: #003366;
  --accent-900: #001933;
  --accent-950: #000d1a;
}
:root[data-theme="dark"] {
  --text-50: #030517;
  --text-100: #050a2e;
  --text-200: #0a145c;
  --text-300: #0f1e8a;
  --text-400: #1427b8;
  --text-500: #1931e6;
  --text-600: #475aeb;
  --text-700: #7584f0;
  --text-800: #a3adf5;
  --text-900: #d1d6fa;
  --text-950: #e8eafc;

  --background-50: #030517;
  --background-100: #050a2e;
  --background-200: #0a145c;
  --background-300: #0f1e8a;
  --background-400: #1427b8;
  --background-500: #1931e6;
  --background-600: #475aeb;
  --background-700: #7584f0;
  --background-800: #a3adf5;
  --background-900: #d1d6fa;
  --background-950: #e8eafc;

  --primary-50: #030716;
  --primary-100: #060d2d;
  --primary-200: #0d1b59;
  --primary-300: #132886;
  --primary-400: #1936b3;
  --primary-500: #2043df;
  --primary-600: #4c69e6;
  --primary-700: #798eec;
  --primary-800: #a6b4f2;
  --primary-900: #d2d9f9;
  --primary-950: #e9ecfc;

  --secondary-50: #020c17;
  --secondary-100: #04192f;
  --secondary-200: #09325d;
  --secondary-300: #0d4a8c;
  --secondary-400: #1163bb;
  --secondary-500: #167ce9;
  --secondary-600: #4496ee;
  --secondary-700: #73b0f2;
  --secondary-800: #a2cbf6;
  --secondary-900: #d0e5fb;
  --secondary-950: #e8f2fd;

  --accent-50: #000d1a;
  --accent-100: #001933;
  --accent-200: #003366;
  --accent-300: #004c99;
  --accent-400: #0066cc;
  --accent-500: #007fff;
  --accent-600: #3399ff;
  --accent-700: #66b2ff;
  --accent-800: #99ccff;
  --accent-900: #cce5ff;
  --accent-950: #e5f2ff;
}

:root {
  --sidebar-width: 300px;
  --sidebar-contracted-width: 50px;
}
@import url("https://fonts.googleapis.com/css?family=Athiti:700|Athiti:400");

body {
  font-family: v.$fuente_principal;
  font-weight: 400;

  background-color: var(--background-50);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: v.$fuente_principal;
  font-weight: 700;
  color: var(--text-950);
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

p {
  font-size: 1rem; /* 16px */
}

main {
  position: relative;
  margin-left: calc(var(--sidebar-contracted-width) + 5px);
  transition: margin-left 0.5s ease-in-out;
  display: grid;
  place-items: center;
  height: 100vh;
}

.menu-sidebar.active ~ main,
.menu-sidebar:has(input:checked) ~ main {
  margin-left: calc(var(--sidebar-width) + 10px);
}

fieldset {
  border: 2px solid var(--accent-600);
  border-radius: 10px;
  padding: 0;
  margin: 0;

  legend {
    color: var(--text-950);
    padding: 0 20px;
  }
}

.container-flex {
  display: flex;
  gap: 20px;
  align-items: center;

  &.--column {
    flex-direction: column;

    &.--left {
      align-items: left;
    }
    &.--right {
      align-items: right;
    }
  }
  &.--wrap {
    flex-wrap: wrap;
  }
}

.container-grid {
  display: grid;
  gap: 20px;
  place-items: center;

  &.--left {
    place-items: left;
  }
}

i {
  color: var(--text-950);
}

* {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--background-400);
    border-radius: 0.75rem;
    transition: background 0.2s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-300);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  /* Firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--background-400) transparent;
}

.tickets-manual {
  li {
    color: var(--text-950);
    text-wrap: wrap;
    width: 300px;
  }
}
