@use "vars" as v;
@use "mixins" as m;
@use "sass:color";

/* Fonts */
@font-face {
    font-family: Pangram;
    src:
        url('../fonts/Pangram-Regular.otf'),
        url('../fonts/Pangram-ExtraBold.otf'),
        url('../fonts/Pangram-ExtraLight.otf'),
        url('../fonts/Pangram-Light.otf'),
}
@font-face {
    font-family: Pangram-Black;
    src: url('../fonts/Pangram-Black.otf')
}
@font-face {
    font-family: Pangram-Bold;
    src: url('../fonts/Pangram-Bold.otf')
}
@font-face {
    font-family: Pangram-Medium;
    src: url('../fonts/Pangram-Medium.otf')
}

@font-face {
    font-family: Imperial;
    src: url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 5px;
}

*::-webkit-scrollbar-track {
background: rgba(v.$morado,.1);
}

*::-webkit-scrollbar-thumb {
background-color: rgba(v.$morado,.6);
border-radius: .5rem;
border: 3px solid rgba(v.$morado,.1);
}

*, *:before, *:after {
    box-sizing: inherit;
}
.mainBody {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: v.$celeste;
    
}


canvas{
    border-radius: 2rem;
    background: none;
}
.order-printable{

    background-color: v.$blanco;

}

p {
    color: v.$negro;
    font-size: 2rem;
    font-family: v.$fuente_secundaria;
}

a {
    
    text-decoration: none;

    
}

li{
    list-style:none;
    margin: 0;
    padding: 0;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: v.$fuente_principal;
    margin: calc(v.$separacion / 2) 0;
    font-weight: 500;
    text-align: center;

    
    
}

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

.container{
    display: flex;
    flex-direction: attr(dir);
}

form:has(.form-group){
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    

    display: grid;
    width: 100vw;
    place-items: center;
    position: relative;

}


main:has(.table-wrapper){
    display: grid;
    place-items: center;
}

.table-wrapper{
    overflow-y: auto;
    height: clamp(30rem, 40rem, 50rem);
    margin: 1rem;
}

.table{
    max-height: calmp(20vh,40rem,100%);
    display: table;
    border-collapse: collapse;
    font-size: 1.6rem;
    margin: 1rem;

    .container-actions{
        display: flex;
    }


    .table-row{
        display:table-row;
        align-items: center;
        transition: .8s;
        &:hover{
            background-color: color.adjust($color: v.$azulFuerte,$lightness: calc(25%), $alpha: 1.0);
            &,a,i,button{
                color: v.$blanco;
                transition: .5s;
                font-weight: 700;

            }
        }
        .actions-cell{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        img{
            width: 5rem;
            border-radius: 50%;
            cursor: pointer;
        }

        a{
            display: flex;
            justify-content: center;
            align-items: center;
            color: v.$negro;
            img{
                width: 3rem;
                &:hover{
                    animation: gelatine .3s linear;
                }
            }

        }
        &.checked{
            background-color: color.adjust($color: v.$morado,$lightness: calc(5%), $alpha: 1.0);
            color: v.$blanco;
        }

    }

    .cell,.header{
        
        display: table-cell;
        text-align: left;
        padding: 1.2rem;
        text-align: left;
        
    }

    .table-header{
        background-color: v.$azulFuerte;
        display: table-row;
        height: 4rem;
        position: sticky;
        top: 0;
        transition: .5s;

        &:hover{
            background-color: color.adjust($color: v.$azulFuerte,$lightness: calc(5% *-1), $alpha: 1.0);
        }

        .header{
            transition: .5s;
            font-weight: 800;
            text-align: center;
            color: v.$blanco;
            button{
                
                font-weight: 800;
                text-align: center;
                color: v.$blanco;
                text-transform: uppercase;
            }
            &:hover{
                background-color: color.adjust($color: v.$azul,$lightness: calc(5% * -1), $alpha: 1.0);
            }
        }

    }


    .cell-selector{
        width: 3rem;
        gap: 1rem;
        input{
            width: 5rem;
            height:2rem;
        }


    }






}


.dashboard-container{

    background: v.$azulPalido;
    width: 80%;
    height: clamp(30rem, 40rem, 50rem);
    border-radius: 2rem;
    opacity: .6;

    transition: .5s;
    &:hover{
        opacity: 1;
    }

}


fieldset{
    

    border-radius: 2rem;
    border: 2px solid v.$azulFuerte;

    width: clamp(40rem,60rem,80rem);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    legend{
        padding: 0 2rem;
        font-weight: 700;
        font-size: 1.7rem;
        color: v.$azulFuerte;
        border-radius: .5rem;
        transition: .5s;
    
    }


    &:focus-within{
        legend{
            letter-spacing: 3px;
            background-color: v.$azulFuerte;
            color: v.$blanco;
        }
    }

    &.no-fieldset{
        border: none;
    }

}


button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}