
.modal{
    background-color: $blanco;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
}


.modal-solicitud{
    box-shadow: 0px 0px 16px -1px rgba(50, 59, 54, 1);
    
    top: 5%;
    left: 0%;
    height: 50rem;
    width: 70rem;
    
    form{
        label{
            color: $morado;
            font-size: 1.7rem;
        }
        textarea{
            width:100%;
            border: 3px solid #e1e1e1;
            border-radius: 2rem;
            resize: none;
            height: 10rem;
        }
    }

}


.modal-errores{
    display: flex;
    gap: 2rem;
    box-shadow: 0px 0px 16px -1px rgba(50, 59, 54, 1);
    flex-direction: column;
    justify-content: center;
    position: fixed;
    inset: 30%;
    z-index: 1;

    p{
        background-color: lighten($rojo,10);
        width: 80%;
        color: $blanco;
        border-radius: 2rem;
    }

}

.dragable{
    position: fixed;
}

.modal-notifications{
    padding: 1rem;

    background-color: $blanco;

    border-radius: 2rem;
    width: 25%;
    height: 60%;
    overflow-y: scroll;

    text-align: center;

    
    
    &::-webkit-scrollbar {
        width: 5px;
        }
        
    &::-webkit-scrollbar-track {
        background: rgba($morado,.1);
        }
        
    &::-webkit-scrollbar-thumb {
        background-color: rgba($morado,.6);
        border-radius: .5rem;
        border: 3px solid rgba($morado,.1);
        }
        

}


.modal-title{
     font-size: 3rem;
     font-family: Pangram-Black;
     color: $morado;
     font-weight: 700;
     padding: 1rem;
}

.modal-content{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Pangram-Bold;
    color: $azulFuerte;
}


.container-modal-content{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba($morado,.5);
    gap: 2rem;
    margin: 1rem;
    border-radius: 2rem;

    
}



.formulario-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    .container-input{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}



.info{
    position: fixed;
    padding: 0 2rem;
    margin: 1rem;
    animation: show linear 1s;
    box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);

    
    inset: 10%;
    top: 10%;

    background-color: $blanco;
    border-radius: 2rem;

    transition: opacity 1s;
    ul{
        text-align: justify;
        line-height: 2.1;
        li{
            font-size: 1.8rem;
            font-weight: 600;
        }
    }

    h2{

        &::after{
            content: "";
            display: block;
            background-color: $morado;
            color: $morado;
            width: 100%;
            text-align: center;
            height: .5rem;
        }
    }




}





.drop{
    position: absolute;
    background-color: darken($color: $morado, $amount: 10%);

    border-radius: .5rem;
    padding: 1rem;
    top: 5rem;

    width: 20rem;
    transition: .5s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



        a{
    
            border-bottom: 1px solid $blanco;
            transition: .4s;
            text-align: center;
            width: 100%;
            margin-top: .5rem;

            
            text-align: center;
            &:hover{
                border-radius: 1.5rem;
                width: 90%;
                background-color: lighten($color: $morado, $amount: 40%);
                transition: .4s;
                color: $negro;
                letter-spacing: 2px;
    
            }
        }


}



.nav_sub_link{
    color: $blanco ;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    transition: .4s;




}


.about-me-options{
    width: 25rem;
}

.entries-options{
    width: 30rem;
}