<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Login">
                    <match url="^/login $ /login" />
                    <action type="Rewrite" url="/login" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
