@use "sass:color";
@use "../../base/vars" as v;
@use "../../base/mixins" as m;


.contenedor-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 2rem;
    h2,h3,p{
        padding: 0;
        margin: 0;
    }
}



.sidebar{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    img{
        width: 12rem;
        border-radius: 15rem;
    }
}


.machine,.periferico,.sidebar{
    background-color: v.$blanco;
    padding: 0;
    border-radius: 2rem;
    transition: .2s ease-in;
    padding: 2rem;
    width: 70rem;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 2rem;


    h2{
        color: color.adjust(v.$morado,$lightness: 1% * -20);
        font-weight: 700;
        text-align: center;
    }

    h3{
        color: color.adjust(v.$morado,$lightness: 1% * -10);
        font-weight: 700;
        text-align: center;

    }

    p{
        font-weight: 600;
        color: color.adjust(v.$azul,$lightness: 1% * -20);
        text-align: center;
    }

}

