



.title-tickets{
    text-align: center;
}

.formulario{


    display: flex;
    align-items: center;
    justify-content: center;
    fieldset{
        border: 2px solid $morado;
        border-radius: 2rem;
        padding: 2rem 3rem;
        width: 80rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;


        legend{
            color: $morado;
            font-weight: 600;
            letter-spacing: 2px;

        }
    
    }
    input:not([type="file"]),select,textarea{
        height: 3rem;
        border: none;
        width: 100%;
        border-radius: 2rem;

    }

    input[type="file"]{
        &::file-selector-button{
            @include boton($morado,inline-block);
            margin-top: -1rem;
            justify-content: center;
            flex-direction: row;
        }
    }
    label{
        font-size: 2rem;
        display: inline-block;
    }
    textarea{
        height: 10rem;
        padding: 1rem;

        &::-webkit-resizer{
            display: none;
        }
    }
    input{
        padding: 1rem;
    }
    input[type="submit"]{
        width: 50%;
        height: 5rem;
    }


    
    
}
.container-formulario-casos{
    
    gap: 2rem;
    margin: 2rem;
    border-radius: 2rem;

}


.container-categories{
    @include grid(3,4rem);
}
.container-inputs{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.categories-selected{
    
    background-color: $celesteOscuro;
    border-radius: 2rem;
    max-width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    p{
        text-align: center;
        margin-top: -1rem;
    }
    li{
        text-align: center;
        margin-top: 2rem;

        &:first-of-type{
            margin-top: 0;
        }
    }
}

.container-state-input{
    display: flex;
    align-items: center;
    gap: 1rem;
}

