@use "../base/vars" as v;
@use "../base/mixins" as m;




.barra{
    padding: 0 4rem;
    margin-bottom: 2rem ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$azulFuerte;
    width: 100%;
    overflow: hidden;
    .logo-title{
        margin: 0 auto;
        font-weight: 800;
        color: v.$blanco;
        font-size: 4.9rem;
        span{
            color: v.$celeste;
            font-size: 3.8rem;
        }
    }


}
.nav_link{
    color: v.$blanco;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-right: 2rem;
    transition: .2s ease-in-out;
    padding: 1rem;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:hover{
        color: v.$celeste;
        transition: .2s ease-in-out;
    }
}
.nav_links{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;



}


.container-nav-link{


}