@use "sass:color";
@use "../base/vars" as v;
@use "../base/mixins" as m;


.card-container{


    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    place-items: center;
    .card{
        height: 40rem;
        width: 80%;
        background-color: v.$azulPalido ;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        gap: 2rem;
        border-radius: 2rem;

        overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scroll-snap-align: start;

        picture{
            width: 20rem;
            height: 20rem;
            clip-path: circle(50% at 50% 50%);
        }

        .content{
            width: 100%;
            height: 100%;
            transition: .5s;
            &:hover{
                background-color: v.$azul;
                h2,p,h4{
                    color: v.$blanco;
                }
                border-radius: 2rem;
                width: 100%;
            }
            h2,p,h4{
                transition: .5s;
            }

            h2{
                font-family: Pangram-Black;
                font-size: 3.2rem;
                margin: 1rem;
            }

            p,h4,a{
                font-size: 2.2rem;
                margin: 1rem;
                text-align: center;
            }

        }

        .ticket-content{
            display: flex ;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .banner-image{
            
            display: grid;
            place-items: center;
            height: 100%;
            width: 60%;
            img{
                border-radius: 50%;
                border: .5rem solid v.$blanco;
            }
            h2{
                font-family: Pangram-Black;


            }
            
        }

    }


}