.form-entry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2;



}


.entryFields{
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    border-radius: 2rem;
    border: 2px solid $morado;


    img{
        border-radius: 2rem;
        width: 30rem;
    }
}

.container-input-entry{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    label{
        font-size: 2rem;
        font-weight: 700;
    }

    input,textarea{
        
        border: none;
        border-radius: 2rem;
        padding: 1rem;
        outline: none;
        resize: none;
    }
    input[type="text"]{
        height: 3rem;
    }
    textarea{
        height: 10rem;
        width: 40rem;
    }

    input[type="file"]{



        &::file-selector-button{
            @include boton($morado,inline-block)
        }
    }

}