@use "../../base/vars" as v;

.entries{


}


.entry{
    display: flex;
    flex-direction: column;

    &:hover{


        &::after{

            width: 120rem;
        }

    }

    &::after{
        content: "";
        height: .5rem;
        background-color: v.$morado;
        display: block;
        width: 0;
        transition: .5s;
    }
}