@use "../base/vars.scss" as v;
@use "../base/mixins.scss" as m;


.main-dashboard{
    margin: .5rem .10rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(autofit,minmax(100px,1fr));
    gap: 1rem;
    place-items: center;
}



.inv-form{




}


.admin-dashboard{


    display: grid;
    place-items: center;
    gap: 2rem;
    margin: 20px 0;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 100vw;
    height: 100vh;

    .container-dashboard{
        background-color: #2941BB;

        height: 100%;
        width: 90%;
        border-radius: 1.5rem;

        box-shadow: .5rem .5rem .5rem .5rem rgba(rgb(20, 124, 209),.2);
        


    }

}