@use "../base/vars.scss" as v;
@use "../base/mixins.scss" as m;


.main-dashboard{
    margin: .5rem .10rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(autofit,minmax(100px,1fr));
    gap: 1rem;
    place-items: center;
}




.admin-dashboard{


    display: grid;
    place-items: center;
    gap: 2rem;
    margin: 20px 0;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 100vw;
    height: 100vh;

    .container-dashboard{

        height: 100%;
        width: 90%;
        border-radius: 1.5rem;

        


    }

}



.container-brief-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
 
    margin: 1rem;
 
 
    .brief-card{
 
 
       background-color: v.$blanco;
 
       position: relative;
       width: 35rem;
       height: 8rem;
       border-radius: .5rem;
 
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 2rem;
 
       .avatar{
 
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5rem;
          
          height: 5rem;
          padding: 1rem;
          margin: 1rem;
          background-color: v.$azul;
          border-radius: .5rem;
 
          i{
             background: linear-gradient(to right, v.$moradoFuerte 20%, v.$morado 80%);
             background-clip: text;
             color: transparent;
             font-size: 4rem;
          }
 
       }
 
       .card-data{
          display: flex;
          align-items: left;
          justify-content: flex-start;
          flex-direction: column;
          width: 100%;
 
          span{ 
             width: 100%;
             text-align: left;
             margin: 0;
             padding: 0;
             font-family: Pangram;
             
             
          }
 
          .card-title{
             font-family: Pangram-Black;
             font-size: 2rem;
             background: linear-gradient(to right, v.$azul, v.$azulFuerte);
             background-clip: text;
             color: transparent;
 
          }
 
          .card-result{
             font-size: 2.5rem;
             font-weight: 900;
             letter-spacing: 1px;
             background: linear-gradient(to right, v.$azul, v.$azulFuerte);
             background-clip: text;
             color: transparent;
          }
       }
 
 
    }
 
    
 
 }